<%-layout('layouts/boilerplate')%>

<main>
    <h1>YelpCamp</h1>
    <p class="lead">
        Welcome to YelpCamp! <br />
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quia
        sequi, distinctio, porro neque officiis hic quisquam aspernatur magni
        obcaecati doloribus quaerat ab explicabo quas beatae laboriosam non
        impedit eum!
    </p>
    <a
        href="/campgrounds"
        class="btn btn-lg btn-secondary font-weight-bold text-white"
        >View Campgrounds</a
    >
</main>
